/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Color styles */
--blue-nav: #255EE9;
--grey-bg: #F6F6F6;
--black-footer: #23272A;
--purple-btn: #7289DA;
--primary-color: #FFFFFF;

}

.debug{
    border: 1px solid red;
}

.grey-bg{
    background-color: var(--grey-bg);
}


body{
    background-color: var(--primary-color);
}


header{
    background-color: var(--blue-nav);
}

footer{
    background-color: var(--black-footer);
}


.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}


/* CONTAINER */

.container{
    max-width: 1200px;
    margin: 0 auto;

}


/* TEXT */

ul{
    list-style: none;
}

li{
    color: var(--primary-color);
}



