/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Color styles */
--blue-nav: #255EE9;
--grey-bg: #F6F6F6;
--black-footer: #23272A;
--purple-btn: #7289DA;
--primary-color: #FFFFFF;

}

.debug{
    border: 1px solid red;
}

.grey-bg{
    background-color: var(--grey-bg);
}


body{
    background-color: var(--primary-color);
    font-family: 'Noto Sans', sans-serif;
}




header{
    background-color: var(--blue-nav);
}

footer{
    background-color: var(--black-footer);
}




.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}


.d-flex-content{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content:center;

}

.align-center{
    align-content: center;
}

.space{
    padding-right: 40px;
}

.left{
    width: 55%;
}
.right{
    width: 45%;

}
.row-reverse{
    flex-flow: row-reverse wrap;
}
.container{
    max-width: 1440px;
    margin: 0 auto;

}
.logo-head{
    padding-top: 30px;
}
#jumbotron{
    background-image: url(../img/jumbo.png);
    min-height: 620px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}



/* TEXT */

ul{
    list-style: none;
}

li{
    color: var(--primary-color);
    
}

.header-content>h1{
    color: var(--primary-color);
    font-size: 2.5rem;
    padding-bottom: 40px;
}

.header-content>p{
    color: var(--primary-color);
    font-size: 1.2;
    line-height: 30px;
    

}

.header-content{
    text-align: center;
    width: 800px;
    padding-top: 170px;
}


